@media (max-width:1024px){

    .left{
        width: calc((100% - 20px)/2);
    }
    .right{
        width: calc((100% - 20px)/2);
    }
    .top{

        text-align: center;
    }

}

@media (max-width:600px){

    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
    .top{
        text-align: center;
    }
    .row{
        display: block;
    }

}