@media (max-width:768px){
    .a{
        display: block;
        height: 45vh;

    }
    .trai{
        width: 100%;
        height: 14vh;
        margin-bottom: 5px;

    }
    .title{
        text-align: center;
    }

}